/*
1 - Normalize
2 - Main
3 - Slick slider plugin
4 - Malihu custom scrollbar plugin
5 - Modals
6 - Header & Footer
7 - Homepage
8 - Profile page
9 - Catalog page
10 - Single item page
11 - Cart page
12 - Archive page
13 - Admin page
*/

@font-face {
	font-family: 'SourceSansPro-Light';
	src: url('../fonts/SourceSansPro-Light.eot');
	src: local('☺'), url('../fonts/SourceSansPro-Light.woff') format('woff'),
					 url('../fonts/SourceSansPro-Light.ttf') format('truetype'),
					 url('../fonts/SourceSansPro-Light.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'SourceSansPro-Regular';
	src: url('../fonts/SourceSansPro-Regular.eot');
	src: local('☺'), url('../fonts/SourceSansPro-Regular.woff') format('woff'),
					 url('../fonts/SourceSansPro-Regular.ttf') format('truetype'),
					 url('../fonts/SourceSansPro-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'SourceSansPro-Bold';
	src: url('../fonts/SourceSansPro-Bold.eot');
	src: local('☺'), url('../fonts/SourceSansPro-Bold.woff') format('woff'),
					 url('../fonts/SourceSansPro-Bold.ttf') format('truetype'),
					 url('../fonts/SourceSansPro-Bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

/******** 1 - Normalize ********/
html,
body {
	min-height: 100%;
	height: 100%;
	font-family: 'SourceSansPro-Regular';
}
body * {
	outline: none !important;
}
section {
	padding: 30px 0;
}
h1, h2, h3 {
	margin: 20px 0;
}
h4, h5, h6 {
	margin: 0 0 15px;
}
h1 span {
	font-family: 'SourceSansPro-Bold';
}
h2 span {
	display: block;
    margin-top: 10px;
    font-size: 16px;
}
ul,
ol {
	list-style-type: none;
	margin: 0;
	padding: 0; 
}
img {
	width: 100%;
	height: auto;
}
a,
button,
input,
textarea {
	display: inline-block;
	-webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
a:hover,
a:focus {
	text-decoration: none;
}
textarea {
	width: 100%;
	resize: none;
}
label {
	font-weight: normal;
	font-family: 'SourceSansPro-Bold';
}
form em {
	font-size: 13px;
	color: green;
	cursor: pointer;
}
form .btn {
	min-width: 100px;
}
.btn + .btn {
	margin-left: 12px;
}
.btn .glyphicon {
	top: 2px;
    margin-left: 2px;
}
.form-control {
	margin-bottom: 12px;
}
form .row .form-control,
.comment_block form .form-control,
.table {
	margin-bottom: 0;
}
.form-control[readonly] {
	background-color: inherit;
}
.form-inline > div {
	margin-bottom: 15px;
}
.form-inline input[type=submit] {
	margin-left: 12px;
	vertical-align: top;
}

.help-block {
	margin: 0;
}
.has-error .help-block,
.has-success .help-block {
	margin: 5px 0 10px;
}

table th {
	text-align: center;
	font-weight: normal;
	font-family: 'SourceSansPro-Bold';
}
table .btn {
	min-width: auto;
}
.table > tbody > tr > td {
	vertical-align: middle;
}
.table-bordered > thead > tr > th {
	border-bottom-width: 1px;
}
.table_scrolling tbody {
	display: block;
	width: 100%;
    margin-top: -1px;
}
.table.table_scrolling tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}
.table.table_scrolling tr th {
	border-left: none;
}
.table.table_scrolling tr td {
    padding: 8px;
    border-top: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: none;
    border-left: none;
	vertical-align: middle;
}
.table.table_scrolling tr th:last-child,
.table.table_scrolling tr td:last-child {
	border-right: none;
}

.progress {
	position: relative;
	margin-bottom: 0;
}
.progress span {
	position: absolute;
	left: 50%;
	margin-left: -11px;
}
.pagination {
	margin: 0 0 20px;
}

/******** 2 - Main ********/
.main_wrap {
	min-height: 100%;
	padding-bottom: 40px;
}
.container {
	max-width: 990px;
    width: 100%;
}
.overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

#preloader {
	position: fixed;
	top: 50%;
	left: 50%;
	display: none;
	width: 64px;
	height: 64px;
	margin: -32px 0 0 -32px;
	background: url(../images/layout/preloader.gif) no-repeat;
    z-index: 1050;
}

.uploader_wrap {
    position: relative;
    display: inline-block;
    width: 100px;
    overflow: hidden;
    vertical-align: middle;
    cursor: pointer;
}
.uploader_wrap input[type=file] {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 34px;
    vertical-align: bottom;
    opacity: 0;
    z-index: 2;
}
.uploader_wrap .btn {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}
.uploader_wrap .btn .glyphicon {
    margin: 0 2px 0 0;
}
.ajax-form .uploader_wrap {
	width: 120px;
}

.nth_padding > div:first-child {
	padding: 0 15px 0 0;
}
.nth_padding > div:last-child {
	padding: 0 0 0 15px;
}

/******** 3 - Slick slider plugin ********/
.slick-dots {
    bottom: 25px;
}
.slick-dots li button:before {
	font-size: 34px;
	color: #fff;
}
.slick-dots li.slick-active button:before {
	color: #fff;
}
.slick-arrow {
	width: 44px;
	height: 44px;
	z-index: 2;
}
.slick-arrow:before {
	content: none;
}
.slick-arrow.slick-prev {
	background: url(../images/layout/slick_prev.png) no-repeat center center;
	left: 0;
}
.slick-arrow.slick-next {
	right: 0;
	background: url(../images/layout/slick_next.png) no-repeat center center;
}
.slick-loading .slick-list {
	background: #fff url(../images/layout/preloader.gif) center center no-repeat;
}

/******** 4 - Malihu custom scrollbar plugin ********/
.mCSB_outside + .mCS-minimal-dark.mCSB_scrollTools_vertical {
	margin: 0;
}
.mCSB_scrollTools {
	width: 4px;
}

/******** 5 - Modals ********/
.modal {
	text-align: center;
	white-space: nowrap;
}
.modal:after {
	content: "";
	display: inline-block;
	width: 0;
	height: 100%;
	vertical-align: middle;
}
.modal .modal-dialog {
	display: inline-block;
	width: 600px;
	vertical-align: middle;
}
.modal-content {
	text-align: left;
	white-space: normal;
}
.modal .form-horizontal .form-group {
	margin: 0 0 10px 0;
}
.modal .error,
form .error {
	display: none;
	clear: both;
}
.alert {
	margin: 5px 0 20px;
}

/******** 6 - Header & Footer ********/
.header_wrap {
	padding: 15px 30px;
	text-align: right;
	background: url(../images/layout/bg_header.png);
	box-shadow: -1px 0 8px -2px #999;
}
.logo {
	width: 255px;
	height: 60px;
	text-align: left;
	text-indent: -9999px;
	background: url(../images/layout/logo.png) no-repeat;
	float: left;
}
.mob_btn,
.mob_close_btn {
	display: none;
	transition: none;
}
.navigation_wrap {
	display: inline-block;
	margin: 8px 0 7px;
}
.main_navigation li {
	display: inline-block;
	margin-right: 10px;
}
.main_navigation a {
    padding: 10px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    font-size: 16px;
    font-family: 'SourceSansPro-Bold';
    color: #000;
}
.main_navigation a:hover,
.main_navigation .current a,
.reg_box a:hover {
	color: #ef272a;
}
.cart {
	position: relative;
	width: 45px;
	height: 36px;
    vertical-align: middle;	
	background: url(../images/layout/cart.png) no-repeat;
}
.cart span {
	position: absolute;
    top: -3px;
    right: -10px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    text-align: center;
    color: #fff;
    background-color: #ef272a;
}

.reg_box {
    display: inline-block;
    margin-left: 30px;
}
.reg_box a {
	text-decoration: underline;
	font-size: 16px;
	color: green;
}
.reg_box span {
	padding: 0 10px;
	color: #999;
}

.profile {
	display: inline-block;
	margin-left: 40px;
	vertical-align: middle;
    text-align: center;
}
.profile .dropdown-toggle,
.progress-bar {
	color: inherit;
}
.profile .dropdown-menu {
    left: inherit;
    right: 0;
}
.profile .dropdown-menu input {
	display: block;
    width: 100%;
    padding: 3px 20px;
    border: none;
    text-align: left;
    background-color: inherit;
}
.profile .dropdown-menu input:hover {
	background-color: #f5f5f5;
}

.profile .caret {
	margin: -1px 0 0 3px;
}
.avatar {
	position: relative;
	width: 50px;
	height: 50px;
    margin: 0 auto 5px;	
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    overflow: hidden;
}
.avatar img {
	height: 100%;
    object-fit: cover;
}

.footer {
	height: 40px;
	margin-top: -40px;
	padding: 10px 0;
}

/******** 7 - Homepage ********/
.home_banner {
	position: relative;
    min-height: 500px;
    padding: 0;
    overflow: hidden;
}
.main_slider.slick-slider {
    height: 100%;
	margin-bottom: 0;
}
.main_slider .slick-list,
.main_slider .slick-track {
	height: 100%;
}
.main_slider .slick-slide {
	display: table;
	height: 100%;
	background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
}
.banner_wrap {
	display: table-cell;
	padding-left: 60px;
	vertical-align: middle;
}
.banner_text {
	width: 400px;
	font-size: 20px;
	color: #fff;
}
.banner_text h2 {
	font-size: 42px;
}
.banner_text h2 span {
	font-size: 26px;
	font-family: 'SourceSansPro-Bold';
}
.banner_text ul {
	list-style-type: disc;
	margin-bottom: 10px;
	padding-left: 20px;
}
.main_content .catalog {
    margin-top: 50px;
	text-align: center;
}
.main_content .container {
	padding: 0;
}
.main_content .catalog > div {
	margin-bottom: 45px;
}
.main_content .catalog h3 {
	margin: 15px 0 0;
	color: #ef272a;
}
.main_content .catalog a {
	width: 100%;
	color: inherit;
}

.catalog_sec {
    padding: 0 0 30px;
}
.catalog_sec .btn {
    min-width: 200px;
    margin-top: 20px;
    text-transform: uppercase;
    font-family: 'SourceSansPro-Bold';
}

/******** 8 - Profile page ********/
.profile_block {
	width: 70%;
	margin: 0 auto;
}
.profile_block form {
	margin-bottom: 40px;
}
.profile_block .uploader_wrap {
	width: 134px;
	margin-top: 15px;
}
.profile_block .btn:first-child {
	margin-left: 5px;
}

/******** 9 - Catalog page ********/
.cat_wrap label {
	padding: 7px 15px 0 0;
	text-align: right;
}
.range_wrap {
	margin: 35px 0 20px;
}
.range_wrap input[type=text] {
    display: inline-block;
    width: calc(100% - 113px);
}
.range_wrap button {
	margin-left: 10px;
	vertical-align: top;
}
#slider-range {
    margin-top: 12px;
}

.catalog {
	margin-top: 30px;
	font-size: 0;
}
.catalog > div {
	display: inline-block;
	margin-bottom: 60px;
    vertical-align: top;
    font-size: 14px;
    float: none;
}
.catalog > div:nth-last-child(-n + 3) {
    margin-bottom: 0;
}
.catalog .item_img {
	height: 250px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top center;
}
.catalog h3 {
	margin: 0 0 10px;
}
.catalog h4 {
	min-height: 34px;
}
.catalog .excerpt {
	height: 60px;
	margin-top: 15px;
	overflow: hidden;
}
.catalog span.text-warning {
    display: inline-block;
    font-size: 22px;
    margin-top: -2px;
}

/******** 10 - Single item page ********/
.item_block {
    margin: 20px 0 40px;
    text-align: justify;
	font-size: 16px;
}
.item_block > div {
	float: right;
}
.item_block > div:first-child {
	padding: 0 0 0 15px;
}
.item_block > div:last-child {
	padding: 0 15px 0 0;
}
.item_block div > img {
	width: 80%;
}
.item_block > div:first-child ul,
.item_block > div:first-child ol {
	list-style-type: disc;
    margin-bottom: 10px;
    padding-left: 20px;
    line-height: 24px;
}
.item_block > div:first-child ol {
	list-style-type: decimal;
}
.item_block h2 {
	margin: 0 0 20px;
}

.item_slider {
	padding: 0 50px;
}
.item_slider .slick-slide img {
	height: 300px;
    object-fit: contain;
}
.item_slider .slick-dots {
	bottom: -35px;
	left: 0;
}
.item_slider .slick-dots li button:before,
.item_slider .slick-dots li.slick-active button:before {
	color: #009bdf;
}

.comment_block {
	width: 75%;
    margin-top: 40px;
}
.comment_block h3 {
    margin-bottom: 12px;
	font-size: 22px;
}
.comment_block.add {
	margin-top: 60px;
}
.comment_block form .col-xs-4 {
	text-align: right;
}
.comment {
	position: relative;
    margin-bottom: 40px;
}
.comment div {
	position: absolute;
	top: 0;
	right: -20%;
	font-family: 'SourceSansPro-Bold';
	color: #ddd;
}
.comment h4 {
	display: inline-block;
    margin: 0;
    vertical-align: bottom;
    font-family: 'SourceSansPro-Bold'
}
.comment h5 {
    margin: 10px 0 15px 0;
    font-size: 16px;
    font-family: 'SourceSansPro-Bold';
}
.comment .rating {
    padding-right: 20px;
	vertical-align: middle;
}

.rating {
	margin-top: 5px;
	text-align: right;
}
.rating img {
	display: inline;
	width: 16px;
	height: 15px;
}
label + .rating {
	padding-left: 20px;
}

/******** 11 - Cart page ********/
.cart_block .table > tbody > tr > th:first-child,
.cart_block .table > tbody > tr > td:first-child {
	max-width: 150px;
}
.cart_block .table > tbody > tr > th:nth-child(3),
.cart_block .table > tbody > tr > td:nth-child(3) {
	max-width: 250px;
}
.cart_block .table img {
	width: 200px;
	height: 200px;
	object-fit: contain;
}
.order_wrap {
	width: 290px;
	margin: 0 auto;
}
.order_wrap > span {
	font-size: 20px;
	cursor: pointer;
}
.order_wrap > div {
	display: none;
	margin-top: 10px;
}
.order_wrap .close {
	margin-bottom: 10px;
	cursor: pointer;
}
.order_wrap form,
.user_tab form {
	clear: both;
}

/******** 12 - Archive page ********/
.archive_block .table_scrolling tbody {
	max-height: 480px;
}
.archive_block .table_scrolling tbody tr {
	min-height: 60px;
}
.archive_block .table_scrolling tr > *:first-child {
	width: 27%;
}
.archive_block .table_scrolling tr > *:nth-child(2) {
	width: 100px;
}
.archive_block .table_scrolling tr > *:last-child {
	width: 202px;
}
.archive_block .table_scrolling input[type=number] {
	display: inline-block;
	width: 70px;
	margin-bottom: 0;
	vertical-align: top;
}
.archive_block .table_scrolling .btn {
	margin-left: 12px;
}

/******** 13 - Admin page ********/
.ui-tabs .ui-tabs-panel {
	padding: 15px;
}
.tabs > div {
	position: relative;
}

.cat_tab table tr td:last-child {
	text-align: center;
}
.cat_tab .table_scrolling tbody {
	max-height: 168px;
}
.cat_tab tr > *:last-child {
	width: 30%;
}

.item_tab .uploader_wrap .btn {
	color: #fff;
}
.ck-editor__editable.ck-rounded-corners, .ck-rounded-corners .ck-editor__editable {
	height: 194px;
	padding: 5px;
}
.ck-rounded-corners .ck-editor__editable ul {
	list-style-type: disc;
	padding-left: 20px;
}
.ck-rounded-corners .ck-editor__editable ol {
	list-style-type: decimal;
	padding-left: 20px;
}

.item_tab .table_scrolling tbody {
	max-height: 300px;
}
.item_tab tr > *:last-child {
	width: 27%;
}
.item_tab tr td:last-child button {
	min-width: 100px;
}
.item_tab tr td:last-child button + button {
	margin: 8px 0 0 0;
}

.user_tab input[type=search] {
	width: 33.3%;
	float: right;
}
.user_tab .table_scrolling tbody {
	max-height: 336px;
}
.user_tab .btn_wrap {
	margin-left: 15px;
	float: right;
}
.user_tab table .btn:first-of-type {
	min-width: 108px;
}
.user_tab table tr > *:last-child {
	width: 290px;
}